.clock{
    text-align: center;
    color: #fff;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    gap: 3px;
    user-select: none;
    margin-right: 10px;
}