$listItemBgColor: #a3b2d2;

.desktop {
	background-image: url(../../assets/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
    height: 100%;
    user-select: none;
    position: relative;
}

.applicationList {
    display: flex;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    gap: 1px;
    @media (max-width: 768px) {
        flex-direction: column;
        gap: 16px;
    }
}

.applicationList__item {
    background: none;
    width: 100px;
    height: fit-content;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 4px;
    border: 2px solid transparent;
    border-radius: 4px;
    &:hover {
        background-color: rgba($listItemBgColor, 40%);
        border-color: $listItemBgColor;
    }
    &:active {
        background-color: $listItemBgColor;
    }
    &:focus {
        background-color: $listItemBgColor;
    }
    .item_image {
        width: 50px;
        height: 50px;
        user-select: none;
        object-fit: contain;
    }
    .item_name {
        color: white;
        text-shadow: 0 0 10px black;
        user-select: none;
    }
}

.vertical-container {
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;

    @media (max-height: 850px) {
        gap: 16px;
        margin-top: 0px;
    }
}

.right-container {
    margin-top: 0;
    position: absolute;
    right: 0;
    width: fit-content;
    flex-direction: column;
    top: 0;
}